<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    @Styles.Render("~/Content/Register")
    <title>@ViewBag.Title</title>
</head>
<body class="hold-transition register-page">
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/Scripts/Register")
</body>
</html>
