<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="~/assets/img/logo.jpg" class="user-image" alt="User Image">
        <span class="hidden-xs">Abhay In</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <img src="~/Content/img/logo.jpg" class="img-circle" alt="User Image">
            <p>
                Abhay
                <small>abhay.in@livecom</small>
            </p>
        </li>
        <!-- Menu Body -->
        @*<li class="user-body">
            <div class="row">
                <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                </div>
            </div>
        </li>*@
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat"><i class="fa fa-user"></i>&nbsp;Profile</a>
            </div>
            <div class="pull-right">
                @using (Html.BeginForm("LogOff", "Conta",new{Area =""}))
                {
                    @Html.AntiForgeryToken()
                    <button class="btn btn-default btn-flat" type="submit"><i class="fa fa-sign-out"></i>&nbsp;Sign out</button>
                }
            </div>
        </li>
    </ul>
</li>